.contact {
    margin: 20px;
    padding: 16px;
}
article {
    margin-bottom: 20px;
}
.contact-text p {
    margin-bottom: 1em;
}
.contact h1{
    color: #ac8e34;
}
.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(to right, #483b2c, #977d32);
}

.contact-form h2{
    text-align: center;
    color: #06312a;
    text-transform: uppercase;
    text-decoration: underline;
}

.contact-form label {
    font-weight: bold;
    color: white;
}

.contact-form input, .contact-form input, .contact-form textarea {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.contact-form input, textarea {
    text-align: center;
}

.contact-form #submit {
    background-color: #ac8e34;
    color: white;
    transition: transform 0.3s ease-in-out;
}
.contact-form #submit:hover {
    transform: scale(1.07);
    background-color: rgb(21, 17, 17);
    color: white;
}
