.image-hero {
    background: url('/assets/nairobi-bg.jpg');
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px
}

.image-row {
  display: flex;
  gap: 10px;
}

.image-row img {
  width: 33.33%;
  height: auto;
  object-fit: cover;
}
.province {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}
.province h1{
    text-decoration: underline;
    text-transform: uppercase;
    color: #06312a;
    font-weight: bolder;
    font-style: oblique;
}

.place {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.card-image{
    height: 200px;
    width: 200px;
}
.card-desrciption{
    align-items: center;
}
@media only screen and (max-width:768px){
    .place{
        display: flex;
        flex-direction: column;
    }
}
.card-place {
    display: grid;
   grid-template-areas:
    "title title"
    "image desc";
   grid-template-columns: 1fr 1fr;
    height: 200px;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 10px;
    padding: 14px;
    transition: transform 0.3s ease-in-out;
}
@media only screen and (max-width:768px) {
    .card-place{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}
/*grid areas*/
.place-name {
    grid-area: title;
}
.place-name h3 {
    text-align: center;
    text-transform: uppercase;
}
.card-image {
    grid-area: image;
    
}
.card-description {
    grid-area: desc;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.card-place:hover{
    transform: scale(1.1);
    cursor: pointer;
    background: #06312a;
}


.card-place img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
}